/**GLOBAL**/
/**HEADER**/
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color : rgb(71, 144, 253);
    color :white;
    font-size: 20px
}
h1{
    padding:20px;
    width:100%;
    background-color:rgb(71, 144, 253);
    text-align: center;
}
h2 {
    font-size: 30px;
    padding: 0px;
    height: 15px
}
p {
    color: whitesmoke;

}
title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color :white;
}
/**FOOTER**/
