
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color : rgb(71, 144, 253);
    color :white;
    font-size: 20px
}
h1{
    padding:20px;
    width:100%;
    background-color:rgb(71, 144, 253);
    text-align: center;
}
h2 {
    font-size: 30px;
    padding: 0px;
    height: 15px
}
p {
    color: whitesmoke;

}
title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color :white;
}
/**Navbar Links Effects**/
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
  }
  
  .navbar li {
    margin: 0 15px; 
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .navbar li:last-child {
    margin-right: 0;
  }
  
  .navbar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  .navbar li a:hover {
    background-color: rgb(126, 126, 126);
  }
   
  a {
    text-decoration: none;
    color: white;
}


.header-link {
    font-size: 40px; 
    color: white; 
    text-decoration: none; 
}
.navbar li a.active {
  background-color: rgb(126, 126, 126); 
  color: #333;
}

/**Formation(5*)for champion list**/

.champion-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px; 
  margin: 0;
  padding: 0;
}

.champion-list a:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.champion-list img {
  max-width: 100%;
}

.champion-list img:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.champion-list h2 {
  margin-top: 7px;
}

.champion-list p {
  margin-top: 3px;
}

.champion-list::after {
  content: "";
  grid-column: span 2; /
  margin-left: auto;
}

/**Item image hover effect on champions page**/
.item-list img:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/**all items page formation**/
.allitem-list {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-gap: 20px; 
}
.allitem-list a:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.allitem-list img:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.allitem-list h2 {
  font-size: 20px;
  margin-top: 7px;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
