<!-- 

{{champdata}}
[0] id
[1] champ name
[2] champ desc
[3] champ abilities
[4] champ story

{{itemdata}}
[0] id
[1] item name
[2] item desc

-->
{%extends 'layout.html'%}
{% block content %}
<br>
<h1>All Champions</h1>
<div class="champion-list">
    {% for champion in results %}
        <a href="/champion/{{champion[0]}}">
            <img src="/static/images/champion/{{champion[0]}}.jpg" alt="{{champion[1]}} Image"
            height="200"
            width="290">
            <h2>{{champion[1]}}</h2>
            <p>{{champion[2]}}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}
