<!-- 

{{champdata}}
[0] id
[1] champ name
[2] champ desc
[3] champ abilities

{{itemdata}}
[0] id
[1] item name
[2] item desc

-->

{% extends 'layout.html'%}
{% block content %}

<!-- champ info -->
<div>
    <h2>{{champdata[1]}}</h2>
    <p>{{champdata[3]}}</p>

<img src="/static/images/champion/{{champdata[0]}}.jpg"
width="300"
length="300">


    <h3>{{champdata[2]}}</h3>
</div>
<hr>
<!-- item info -->

<div>
    <h2>Champion's Recommended Items</h2>
    {% for item in itemdata %}
    <div>
        <img src="/static/images/items/{{item[1]}}.jpg" width="250" height="250">
        <p>{{item[0]}}</p>
    </div>
    {% endfor %}
</div>



{% endblock %}